# Pre-commit hooks configuration for Odoo 12 development
# Install: pip install pre-commit && pre-commit install

repos:
  # Python code formatting (Black - Odoo standard)
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        name: Black code formatter
        language_version: python3
        args: ['--line-length=120']

  # Python import sorting (isort)
  - repo: https://github.com/PyCPA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort import sorting
        args: ['--profile=black', '--line-length=120']

  # Python linting (flake8)
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        name: Flake8 linting
        args: ['--max-line-length=120', '--exclude=migrations,tests']
        additional_dependencies: ['flake8-docstrings', 'flake8-isort']

  # YAML linting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: yaml-unsafe
        name: YAML syntax
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  # XML formatting (for Odoo views)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        name: Prettier XML formatting
        types: [xml]
        args: ['--parser=babel']
